@font-face {
  font-family: "Vazirmatn";
  src: url("/src/fonts/webfonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("/src/fonts/webfonts/Vazirmatn[wght].woff2")
      format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


:root{
  font-family: "Vazirmatn", sans-serif;
  white-space: nowrap;
  --main-color:#e5e5e5;
  --btn-primery-color:#27ae60;
  --btn-primery-hover-color:#20914f;
  --btn-primery-active-color:#1d8347;
  --border-color:lightgray;
  --shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  --max-width-view-port: 1400px;
  --max-width-modal-view-port: 640px;
  --text-color:#141414;
  --border-reduse :.20rem
}


body{
  width: 100vw;
  font-size: 10px;
  background-color: var(--main-color);
  color: var(--text-color);

}

body::-webkit-scrollbar{
  display: none;
  position: relative;
}
*::selection{
  background-color: rgb(48, 251, 180);
  /* color: rgb(0, 109, 60); */
}

.spacer{
  flex: 1;
}

#add-modal-question.hidden{
  display: none;
}


.btn{
  height: 2rem;
  padding-inline:2rem;
  border: 0;
  outline: 0;
  border-radius:var(--border-reduse) ;
  font-size: .9rem;
  color: white;
  transition-property: background-color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.primary-btn{
  background-color: var(--btn-primery-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;

}
.primary-btn:hover{
  background-color: var(--btn-primery-hover-color);
}
.primary-btn:active{
  background-color: var(--btn-primery-active-color);
}

.secondry-btn{
  background-color: transparent;
  border:1px solid var(--btn-primery-color);
  color: var(--btn-primery-color);
}
/* ======== Header ===== */
.main-header{

  display: flex;
  justify-content: center;
  box-shadow: var(--shadow);
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.wrapper{
  width: 100%;
  max-width: var(--max-width-view-port);
  display: flex;
  align-items: center;

  margin-inline: 2rem;
  
  


}
.main-header__user-profile{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 2rem;
  
}

.user-profile__user-name{
  font-size: .9rem;
  font-weight: 500;
}

.user-profile__drop-down{
  margin-top: .3rem;
  cursor: pointer;
  
}

.user-profile__avatar{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  border:1px solid var(--border-color);
  
}
.user-profile__avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ============  MAIN BODY ================= */
.main-container{
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin-block: 5rem;
  
}

#question-list{
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.question-card{
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-reduse);
  box-shadow: var(--shadow);
  
}

.question-card__header{
  background-color: white;
  height: 3.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-reduse);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  
}
.question-card__question-title{
  font-size: 1rem;
  font-weight: 500;
  
}

.question-card__time{
  border-left: 1px solid gainsboro;
  padding-left: .5rem;
  
}
.question-card__date-time{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.question-card__date-time > div :nth-child(1){
  color: gray;
  
}

.question-card__avatar{
  width: 2rem;
  height: 2rem;
  /* border: 1px solid var(--border-color); */
  background-color: grey;
  border-radius: .2rem;
  overflow: hidden;
  
}
.question-card__avatar > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.question-card__comment{
  display: flex;
  align-items: center;
  gap: .6rem;
  
 
}
.question-card__comment span{
  margin-top: .4rem;
  
}
.question-card__wrapper{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding: 1rem;
  font-size: .9rem;
  font-weight: 400;
  
  

}
.question-card__wrapper > p{
  white-space: normal;
  line-height: 1.5rem;
}

#see-question-details{
  margin-right: auto;
  
}


/* =============== ADD QUESTION MODAL ========= */
#add-modal-question{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-close{
  cursor: pointer;
}

.modal-background{
  position: absolute;
  inset: 0;
  background-color: #1414148e;

}

.modal{
  width: 100%;
  max-width: var(--max-width-modal-view-port);
  background-color: white;
  z-index: 1;
  border-radius: var(--border-reduse);
}

.modal-header{
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: var(--shadow);
  padding-inline: 1rem;
  font-size: .9rem;
}
.modal-header__title{
  font-size: 1rem;
  font-weight: 500;
}

.modal__input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  font-size: .9rem;
}
.modal__input-wrapper label{
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

#question-subject{
  border: 0;
  border-radius: var(--border-reduse);
  outline: 0;
  background-color: rgb(228, 228, 228);
  padding-inline: 1rem;
  height: 2.3rem;
  color: rgb(49, 49, 49);
}
#question-subject::placeholder{
  color: rgb(124, 124, 124);
  font-size: .8rem;
}

#question-subject:focus,#question-text:focus{
  outline: 1px solid rgb(183, 183, 183);
}

#question-text{
  padding: 1rem;
  border: 0;
  outline: 0;
  background-color: rgb(228, 228, 228);
  border-radius: var(--border-reduse);
  color: rgb(49, 49, 49);

}
#question-text::placeholder{
  color: rgb(124, 124, 124);
  font-size: .8rem;
}

.modal__buttons-wrapper{
  display: flex;
  margin-right: auto;
  gap: 1rem;
}
#main{
  position: relative;

}
.alert.hidden{
  display: none;
}
.alert{
  width: 15rem;
  height: 3rem;
  background-color: rgb(8, 177, 96);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 5rem;
  right: 2.5rem;

  border-radius: var(--border-reduse);
  visibility: hidden;
 
 
}
.alert.show::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: .3rem;
  width: 100%;
  background-color: #069b44;
  animation: hideMeter 5s linear ;
}
.alert.hide{

  animation: fadeout .5s ease forwards;
  
}
.alert.show{
  animation: fadein .5s ease forwards;

}

/* =========== Key frame =========== */

@keyframes hideMeter{
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}

@keyframes fadein {
  0%{
    visibility: visible;
    right: -15rem;
  }
  50%{
    right: 3rem;
  }
  100%{
    right: 2.5rem;
    visibility: visible;
  }
}
@keyframes fadeout {
  0%{
    visibility: visible;
    right: 4rem;
  }
 
  100%{
    right: -15rem;
    visibility: hidden;
  }
}


/* =============== Question part =================================== */

#main__user-question{
  width: 97%;
 
}
.gap3{
  gap: 3rem;
}

.main-container__title{
  font-size: 1.5rem;
  font-weight: bold;
 
  align-self: flex-start;
  margin-right: 2rem;
}

.answer-card{
  width: 100%;
  max-width: var(--max-width-view-port);
  margin-inline: 1.5rem;
  box-shadow: var(--shadow);
  border: 1px solid rgb(209, 209, 209);
  white-space: normal;
  line-height: 2rem;

}

.answer-card__header{
  background-color: white;
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: var(--border-reduse);
  padding-inline: 1rem;
  gap: 1.5rem;
  box-shadow: var(--shadow);
}

.answer-card__avatar{
  width: 2rem;
  height: 2rem;
  border-radius: .3rem;
  border: 1px solid gainsboro;
  overflow: hidden;
}

.answer-card__avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.answer-card__user-name{
  font-size: 1rem;
  font-weight: bold;
}

.answer-card__date-time{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.answer-card__date-time div :nth-child(1){
  color: rgb(100, 100, 100);
}

.answer-card__time{
  border-left: 1px solid rgb(176, 176, 176);
  padding-left: 1rem;
}

.answer-card__status{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.status__icon-wrapper{
  display: flex;
  gap:.5rem;
  align-items: center;
}
.status__icon-wrapper div{
  width: 1.5rem;
  height: 1.5rem;
}
.status__icon-wrapper div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.answer-card__wrapper{
  padding: 1rem;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
}


.answer-card__btns-wrapper{
 align-self: flex-end;
 display: flex;
 justify-content: center;
 gap: 1rem;
}

.red{
  color: rgb(251, 83, 83);
  border: 1px solid rgb(255, 132, 132) ;
}

#answer-list{
display: flex;
flex-direction: column;
gap: 2rem;
padding-inline: 2rem;
}


.send-answer-wrapper{
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: .9rem;
  color: #272626;
 margin-block: 1rem;

}

.send-answer-wrapper__input-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.send-answer-wrapper__input-container textarea{
  outline: 0;
  border: 0;
  border-radius: var(--border-reduse);
  padding: 1rem;
  
}
.send-answer-wrapper__input-container textarea:focus{

  outline: 1px solid rgb(191, 191, 191);

}
#send-answer-btn{
  align-self: flex-start;
}